* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #8f572f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8f572f;
}

.profile {
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff2d1;
  border: none;
  border-radius: 25px;
  color: #42352b;
  padding: 20px 20px;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgba(154, 185, 174, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 790px) {
  .profile {
    width: 500px;
  }
}
@media screen and (max-width: 500px) {
  .profile {
    width: 300px;
  }
}
.profile__search {
  max-width: 500px;
  width: 100%;
}
.profile__search input {
  width: 100%;
  display: block;
  background-color: #fff2d1;
  border: none;
  font-family: inherit;
  font-size: 24px;
  border-radius: 25px;
  color: #42352b;
  padding: 10px 20px;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgba(154, 185, 174, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
}
.profile__search input:focus {
  outline: 2px solid #fff2d1;
}
.profile__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 790px) {
  .profile__wrapper {
    flex-direction: column;
  }
}
.profile__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 7px solid #8f572f;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  margin-right: 20px;
}
@media screen and (max-width: 790px) {
  .profile__avatar {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.profile__avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
@media screen and (max-width: 790px) {
  .profile .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.profile .user__name {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 900;
}
@media screen and (max-width: 790px) {
  .profile .user__name {
    font-size: 16px;
  }
}
.profile .user__descr {
  margin-bottom: 20px;
}
.profile .user .stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 790px) {
  .profile .user .stats {
    flex-direction: column;
  }
}
.profile .user .stats__followers {
  margin-right: 5px;
}
.profile .user .stats__following {
  margin-right: 5px;
}
.profile__repository ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.profile__repository ul a {
  box-sizing: content-box;
  display: block;
  margin: 5px;
  padding: 5px 10px;
  background-color: #eaac8e;
  border-radius: 15px;
  color: #42352b;
  transition: 0.2s all ease;
}
.profile__repository ul a:hover {
  background-color: #a07860;
  color: #d9d7d6;
  box-shadow: 0 5px 10px rgba(154, 185, 174, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=style.css.map */
